@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #FFFDF8;
    --color-text: #100A08;
    --font-mono: 'Fragment Mono', monospace;
    --font-script: 'Pinyon Script', cursive;
    --grid-columns: 4;
    --grid-gap: 15px;
    --image-width: 433px;
    --image-height: 541px;
    --page-margin: 71px;
    --header-top: 46px;
  }

  body {
    @apply bg-background text-foreground antialiased font-mono text-base;
    cursor: none;
  }

  html {
    scroll-behavior: smooth;
  }

  *:not([style*="cursor"]):not(.cursor-auto):not(.cursor-auto *), *::before, *::after {
    cursor: none;
  }

  .cursor-auto,
  .cursor-auto * {
    cursor: auto;
  }

  .cursor-auto a,
  .cursor-auto a *,
  .cursor-auto button,
  .cursor-auto button * {
    cursor: pointer;
  }
}
